<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Github" value="https://nuget.pkg.github.com/Staticsoft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Github>
            <add key="Username" value="StaticsoftPackages" />
            <add key="ClearTextPassword" value="&#103;&#104;&#112;&#95;&#103;&#80;&#79;&#49;&#110;&#90;&#48;&#66;&#66;&#65;&#56;&#113;&#112;&#67;&#66;&#103;&#73;&#68;&#84;&#56;&#86;&#110;&#74;&#86;&#75;&#66;&#122;&#99;&#54;&#69;&#51;&#114;&#53;&#109;&#57;&#122;" />
        </Github>
    </packageSourceCredentials>
</configuration>